<div class="container w-75 mt-5 login">
  <div class="row align-items-stretch">
    <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6">

    </div>
    <div class="col p-5 rounded-end">
      <div class="text-end">
        <img src="/img/Gmail.svg.png" width="48" alt="" />
      </div>
      <div class="fw-bold text-center py-1"><h2>Bienvenido</h2></div>
      <div class="fw-bold text-center py-1"><h3>
          {{post.pagina}}</h3></div>

      <!--LOGIN-->

      <div class="fw-bold text-center py-1">
        <h3>

          {{#if errores}}
            {{#each errores}}
              <div class="container btn btn-danger">{{msg}}</div>
            {{/each}}

          {{/if}}
        </h3>
      </div>

      <form method="POST">
        <div class="mb-4">
          <input
            class="form-control"
            type="hidden"
            name="_csrf"
            value="{{csrfToken}}"
          />
        </div>
        <div class="mb-4">
          <label for="email" class="form-label">INGRESA TU NUEVO PASSWORD</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Tu Nuevo Password"
          />
        </div>

        <div class="d-grid">

          <button type="submit" class="btn btn-primary">Guardar Password</button>
        </div>

      </form>

    </div>
  </div>
</div>