<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <i class="bi bi-flower1"></i>
      <span class="text-warning">PABLO ROSAS</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menu"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PROJECTS
          </a>

          <ul
            class="dropdown-menu bg-secondary"
            aria-labelledby="navbarDropdown"
          >
            <li><a class="dropdown-item" href="#"> BUSCADOR IMG'S</a></li>
            <li><a class="dropdown-item" href="#">EMPLEOS</a></li>
            <li></li>
            <li><a class="dropdown-item" href="#">Networking</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRICING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT ME</a>
        </li>
      </ul>

      <hr class="d-md-none text-white-50" />

      <ul class="navbar-nav flex-row flex-wrap text-light">
        <li class="nav-item col-6 col-md-auto p-3">
          <i class="bi bi-twitter"></i>
          <small class="d-md-none ms-2">Twitter</small>
        </li>

        <li class="nav-item col-6 col-md-auto p-3">
          <i class="bi bi-github"></i>
          <small class="d-md-none ms-2">GitHub</small>
        </li>

        <li class="nav-item col-6 col-md-auto p-3">
          <i class="bi bi-whatsapp"></i>
          <small class="d-md-none ms-2">WhatsApp</small>
        </li>

        <li class="nav-item col-6 col-md-auto p-3">
          <i class="bi bi-facebook"></i>
          <small class="d-md-none ms-2">Facebook</small>
        </li>
      </ul>

      <form class="d-flex">
        <button
          class="btn btn-outline-warning d-none d-md-inline-block"
          type="submit"
        >
          Informacion
        </button>
      </form>
    </div>
  </div>
</nav>