<div class="container contenedor">
  <div class="hijo">
    <h1 class="pagina">{{post.pagina}}</h1>
  </div>
  <div class="hijo">
    <h2 class="mensaje">
      <div class="fw-bold text-center py-1">
        <h3>
          {{post.mensaje}}
        </h3>
      </div>
    </h2>
  </div>
</div>