          {{#if barra}}
              {{>navbar}}
          {{/if}}

<div class="container w-75 mt-5 login">
  <div class="row align-items-stretch">
 
    <div class="col p-5 rounded-end">
      <div class="fw-bold text-center py-1"><h2>Bienvenido</h2></div>
      <div class="fw-bold text-center py-1"><h4>{{pagina}}</h4></div>

    </div>
  </div>
</div>